body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff, #fda6a6);
    color: rgb(80, 80, 80);
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb:hover {background: linear-gradient(90deg, #ff7e7e, #ffd2d2);}
* {scrollbar-width: thin; scrollbar-color: #ff7e7e #ffd2d2;}
::-webkit-scrollbar {width: 12px; height: 12px;}
::-webkit-scrollbar-track {background: #ff7e7e; border-radius: 10px;}
::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #ff7e7e, #ffd2d2); border-radius: 10px;}

h1, p{
    text-align: center;
    margin: 0;
    padding: 10px;
}

.welcome{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hz {
    background: linear-gradient(45deg, #c9c9c9, #f14b4b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.scroll-down {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);

    text-align: center;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-5px);
    }
}



hr {
    height: 5px;
    width: 70%;
    background: linear-gradient(to right, rgb(255, 147, 147), rgb(255, 0, 0));
    margin: 10px auto;
    border: none;
    border-radius: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0px auto;
    padding: 10px;
    max-width: 1200px;
}

.L{margin-right: auto;}
.R{margin-left: auto;}



.card{
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 30%);
    height: 200px;
    width: 440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

pre{
    width: 408px;
}


@media (max-width: 1150px) {
    .L{margin-right: 0px;}
    .R{margin-left: 0px;}
    /* .card{width: 200px;} */
    pre{border-radius: 0px !important;}
}

.ani-title{
    font-size: 1.4rem;
}